<div class="bg-secondary vh-100">
  <div class="container w-25 container-centralize">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Bem vindo ao WebChat</h5>
        <div class="d-flex justify-content-center">
          <input placeholder="coloque seu nick" />
          <button>Entrar</button>
        </div>
      </div>
      <div class="card-footer">
        <p class="text-center">Já possui uma conta? realize seu <a href="#">login</a></p>
      </div>
    </div>
  </div>
</div>
