<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">Chat Publico</a>
  <a href="#" class="list-group-item list-group-item-action">Fulano de Tal</a>
  <a href="#" class="list-group-item list-group-item-action">Sicrano da silva</a>
  <a href="#" class="list-group-item list-group-item-action disabled">Testes Testados</a>
  <a href="#" class="list-group-item list-group-item-action">Fulano de Tal</a>
  <a href="#" class="list-group-item list-group-item-action">Sicrano da silva</a>
  <a href="#" class="list-group-item list-group-item-action disabled">Testes Testados</a>
  <a href="#" class="list-group-item list-group-item-action">Fulano de Tal</a>
  <a href="#" class="list-group-item list-group-item-action">Sicrano da silva</a>
  <a href="#" class="list-group-item list-group-item-action disabled">Testes Testados</a>
  <a href="#" class="list-group-item list-group-item-action">Fulano de Tal</a>
  <a href="#" class="list-group-item list-group-item-action">Sicrano da silva</a>
  <a href="#" class="list-group-item list-group-item-action disabled">Testes Testados</a>
  <a href="#" class="list-group-item list-group-item-action">Fulano de Tal</a>
  <a href="#" class="list-group-item list-group-item-action">Sicrano da silva</a>
  <a href="#" class="list-group-item list-group-item-action disabled">Testes Testados</a>
  <a href="#" class="list-group-item list-group-item-action">Fulano de Tal</a>
  <a href="#" class="list-group-item list-group-item-action">Sicrano da silva</a>
  <a href="#" class="list-group-item list-group-item-action disabled">Testes Testados</a>
</div>
